* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

p {
    font-size: calc(5vw - 0.05%);
}

.box {
    border: 1px solid black;
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1300px) {
    p {
        height: 50%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .box {
        border: 1px solid black;
        height: 50%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 1s;
    }
}